.log-display {
    width: 45%;
    height: 70vh;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #050915;
    border-radius: 1rem 0 0 0;
    color: #fff;
    padding: 1% 5%;
}

.log-list {
    height: 90%;
    overflow-y: scroll;
    word-wrap: break-word;
}